div(id="orderForm" style="max-height:500px;overflow:scroll")
  form(id="designForm" style="width:90%")
    div(class="row")
      div(class="col-md-12")
        div(id="customerTextOptions")
          h6
            i(id="textArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Add Some Text
        br
        div(id="textOptions")
          div(class="row")
            div(class="col-sm-12")
              div(id="frontShirtOptions")
                h6
                  i(id="frontShirtArrow" class="fa fa-arrow-right" aria-hidden="true")
                  span  Front Side Of Shirt
              div(id="textContainer")
                div(id="frontText")
                  include ./partials/toptext.pug
                  include ./partials/midtext.pug
          br
    div(class="row")
      div(class="col-md-12")
        div(id="customerFileOptions")
          h6
            i(id="uploadArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Upload An image
        br
        div(id="fileOptions")
          div(class="row")
            div(class="col-sm-12")
              label(id="myFrontUpload") Front File Upload
              input(id="designFrontUpload" type="file" name="designFrontUpload" class="form-control")
          div(class="row")
            div(class="col-sm-12")
              label(id="myBackUpload") Back File Upload
              input(id="designBackUpload" type="file" name="designBackUpload" class="form-control")
          br