div(id="orderForm")
  form(id="designForm")
    div(class="row")
      div(class="col-md-12")
        div(id="customerShirtColor")
          h6
            i(id="colorArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Shirt Color
        br
        div(id="customerShirtColorOptions")
          select(id="shirtColor" name="shirtColor" class="form-control")
            option(value="White") White
            option(value="Black") Black
            option(value="Royal Blue") Royal Blue
            option(value="Light Pink") Light Pink (Todler Only)
            option(value="Heliconia Pink") Heliconia Pink (Adult/Youth Only)
            option(value="Safety Pink") Safety Pink (Adult/Youth Only)
            option(value="Daisy Yellow") Daisy Yellow (Adult/Youth Only)
            option(value="Irish Green") Irish Green (Adult/Youth Only)
            option(value="Lime Green") Lime Green (Adult/Youth Only)
            option(value="Safety Green") Safety Green (Adult/Youth Only)
            option(value="Purple") Purple (Adult/Youth Only)
            option(value="Safety Orange") Safety Orange (Adult/Youth Only)
            option(value="Sapphire") Sapphire (Adult/Youth Only)
            option(value="Navy Blue") Navy Blue (Adult Only)
            option(value="Sport Grey") Sport Grey (Adult/Youth Only)
            option(value="Sunset") Sunset (Adult Only)
            option(value="Berry") Berry (Adult Only)
            option(value="Cherry Red") Cherry Red (Adult Only)
            option(value="Heather Military Green") Heather Military Green (Adult Only)
            option(value="Heather Purple") Heather Purple (Adult Only)
            option(value="Heather Red") Heather Red (Adult Only)
            option(value="Heather Sapphire") Heather Sapphire (Adult Only)
            option(value="Navy Heather") Heather Navy Blue (Adult Only)
          br
    div(class="row")
      div(class="col-md-12")
        div(id="customerTextOptions")
          h6
            i(id="textArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Add Some Text
        br
        div(id="textOptions")
          div(class="row")
            div(class="col-sm-12")
              div(id="frontShirtOptions")
                h6
                  i(id="frontShirtArrow" class="fa fa-arrow-right" aria-hidden="true")
                  span  Front Side Of Shirt
              div(id="textContainer")
                div(id="frontText")
                  label(id="myFrontTopText") Top Text
                  textarea(id="designFrontTopText" type="text" name="designFrontTopText" class="form-control")
                  br
                  button(class="btn btn-primary" id="designFrontTopTextBtn") Add top text
                  br
                  div(id="frontTextStyleOptions")
                    br
                    h6(class="text-center") Top Text Style
                  div(id="textContainer")  
                    div(id="frontTopTextStyle")
                      label(id="myTopTextScale") Resize Text
                      input(type="range" id="frontTopTextScale" min="30" max="150" value="10" name="frontTopTextScale" class="form-control")
                      label(id="myTopTextHorizontal") Horizontal
                      input(type="range" id="frontTopTextHorizontal" min="150" max="450" value="10" name="frontTopTextHorizontal" class="form-control")
                      label(id="myTopTextVertical") Vertical
                      input(type="range" id="frontTopTextVertical" min="0" max="450" value="0" name="frontTopTextVertical" class="form-control")
                  hr
                  label(id="myMidText") Mid Text
                  input(id="designFrontMidText" type="text" name="designFrontMidText" class="form-control")
          br
          div(class="row")
            div(class="col-sm-12")
              div(id="backShirtOptions")
                h6 
                  i(id="frontShirtArrow" class="fa fa-arrow-right" aria-hidden="true")
                  span Back Side Of Shirt
              div(class="textContainer")
                div(id="backText")
                  label(id="myBackTopText") Top Text
                  input(id="designBackTopText" type="text" name="designBackTopText" class="form-control")
                  label(id="myBackBottomText") Bottom Text
                  input(id="designBackBottomText" type="text" name="designBackBottomText" class="form-control")
          br
    div(class="row")
      div(class="col-md-12")
        div(id="customerFileOptions")
          h6
            i(id="uploadArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Upload An image
        br
        div(id="fileOptions")
          div(class="row")
            div(class="col-sm-6")
              label(id="myFrontUpload") Front File Upload
              input(id="designFrontUpload" type="file" name="designFrontUpload" class="form-control")
            div(class="col-sm-6")
              label(id="myBackUpload") Back File Upload
              input(id="designBackUpload" type="file" name="designBackUpload" class="form-control")
          br
    div(class="row")
      div(class="col-md-12")
        div(id="customerSizeOptions")
          h6
            i(id="sizeArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Sizes and Quantities
        br
        div(id="sizeOptions")
          div(class="row")
            div(class="col-sm-12")
              h6 Youth
              div(class="row")
                div(class="col-sm-3")
                  label(id="myYouthS") YS
                  input(id="youthS" type="number" name="youthS" class="form-control")
                div(class="col-sm-3")
                  label(id="myYouthM") YM
                  input(id="youthM" type="number" name="youthM" class="form-control")
                div(class="col-sm-3")
                  label(id="myYouthL") YL
                  input(id="youthL" type="number" name="youthL" class="form-control")
                div(class="col-sm-3")
                  label(id="myYouthXL") YXL
                  input(id="youthXL" type="number" name="youthXL" class="form-control")
                br
          div(class="row")
            div(class="col-sm-12")
              h6 Adult
              div(class="row")
                div(class="col-sm-3")
                  label(id="mySmall") Small
                  input(id="small" type="number" name="small" class="form-control")
                div(class="col-sm-3")
                  label(id="myMedium") Med
                  input(id="medium" type="number" name="medium" class="form-control")
                div(class="col-sm-3")
                  label(id="myLarge") Large
                  input(id="large" type="number" name="large" class="form-control")
                div(class="col-sm-3")
                  label(id="myXL") XL
                  input(id="xl" type="number" name="xl" class="form-control")
          br
    div(class="row")
      div(class="col-md-12")
        div(id="customerInfoTitle")
          h6
            i(id="infoArrow" class="fa fa-arrow-right" aria-hidden="true") 
            span(class="text-center")  Customer Information
        br
        div(id="customerInfo")
          label(id="clientName") Full Name 
            small required to sumbit an order
          input(id="fullName" type="text" name="fullName" class="form-control")
          br
          label(id="clientEmail") Email Address 
            small required to sumbit an order
          input(id="email" type="email" name="email" class="form-control")
          br
          label(id="clientNumber") Phone Number 
            small required to sumbit an order
          input(id="phoneNumber" type="text" name="phoneNumber" class="form-control")
          br
    div(class="row")
      div(class="col-sm-12")
        div(id="customerNoteOptions")
          h6
            i(id="noteArrow" class="fa fa-arrow-right" aria-hidden="true")
            span  Add A note
        br
        div(id="noteOptions")
          textarea(id="designNotes" type="text" name="designNotes" class="form-control")
          br
    div(class="row")
      div(class="col-sm-6")
        center
          button( id="getEstimate" class="btn btn-primary") Get Estimated Price
      div(class="col-sm-6")
        center
          input(id="designSubmit" type="submit" value="Submit Order" name="designUpload" class="btn btn-primary")
script(src="/js/lab/toggle_inputs.js")