extends layout

block content
  div(id="main-body")
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/ads/team.png' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='/images/ads/organization.png' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='/images/ads/brand.png' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
    div(id="content-marg")
    div(class="container")
      div(class="row")
        div(class="col-sm-12")
          h2(class="text-center" style="font-style:bold") Custom T-Shirts and Group Apparel
      div(id="inner-marg")
      div(class="row")
        div(class="col-md-4")
          img(id="frontImage" src="https://www.rushordertees.com/design/ZoomImage.php?src=3082864_f&style=g200&colorCode=00&x=240&y=300&width=880&height=880&scale=1.7&watermark=false")
          hr
          h3 T-shirts
          br
          p Build a brand with high quality t-shirts
        div(class="col-md-4")
          img(id="frontImage" src="https://i.pinimg.com/originals/14/62/07/1462073ecd981cd00ac07c199722ad6f.jpg")
          hr
          h3 Event and Brand Designs
          br
          p Customize Kitchen Glasses, Mugs, Plates and more
        div(class="col-md-4")
          img(id="frontImage" src="http://www.weemaple.com/wp-content/uploads/2019/04/984198F5-7466-411A-9B4B-750790F13637.jpeg")
          hr
          h3 Bags
          br
          p Create cool custom bags for yourself and your organization
      div(id="content-marg")
        div(class="row")
          div(class="col")
            div(class="card")
              div(class="row")
                div(class="col-md-6")
                  div(class="card-body")
                    h4(class="card-title") New Design Studio
                    p(class="card-text") Eezy Peezy Prints new design studio uses the latest technology which allows you full control over the product that you wish to customize.
                    p(class="card-text") Coming Soon
                    a(class="btn btn-primary" href="/studio") Preview The Demo
                div(class="col-md-6")
                  img(class="img-fluid" src="/images/front/tshirt-dev.png")
      div(id="content-marg")
        div(class="row")
          div(class="col")
            h2(class="text-center") Custom Gear In 3 Easy Steps
            div(id="content-marg")
            div(class="row")
              div(class="col-md-4")
                img(id="frontImage" src="https://www.zagdimart.com/image/cache/Customize/sky%20blue%20tshirt-500x500.jpg")
                h5 1. Create A Design
              div(class="col-md-4")
                img(id="frontImage" src="https://store.fanport.co.za/wp-content/uploads/2017/10/UniMil-RFC-Mens-T-Shirt-Sky-Blue.jpg")
                h5 2. Finalize The Design
              div(class="col-md-4")
                img(id="frontImage" src="https://images.template.net/wp-content/uploads/2016/04/18141633/Order-Confirmation-Template-Free-Editable-Download.jpg")
                h5 3. Receive Shipping Confirmation