doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="tweetmeme-title" content="Eezy Peezy Print | Customize Your Apparel Easy")
    meta(itemprop="url" content="http://eezypeezyprint.com/")
    link(rel="canonical" href="http://eezypeezyprint.com/")
    meta(property="og:locale" content="en_US")
    meta(property="og:title" content="Eezy Peezy Print")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://eezypeezyprint.com")
    meta(property="og:site_name" content="Eezy Peezy Print")
    meta(property="og:description" content="Easy Customize your apparel for fashion, business team, party etc.... Fast and easy shipping on tshirts, sweaters and pants. Eezy Peezy Print has it all.")
    title= title
    script(src="/js/libs/jquery.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/tablet.css')
    link(rel='stylesheet', href='/stylesheets/desktop.css')
  body
    include ./partials/header.pug
    block content
    include ./partials/footer.pug