extends ../layout

block content
  div(id="aboutus")
    div(class="container")
      div(id="page-title")
        h2(class="text-center") About Us
        hr
      div(class="row")
        div(class="col-md-12")
          p Eezy Pezzy Printing is a family owned printing business established in 2018. Eezy Pezzy Printing is more than shirts, our work is tailormade for you and everything you envision. Eezy Peezy Printing enriches the memories you share with your family, friends, coworkers, employees, or team; and the passion you put into your workplace, events, or causes. We believe that our custom printing services will be just what your looking for. We’re extremely passionate about every hour spent on accomplishing your vision, because whate we love is being a part of bringing ygreat ideas to life. 
            b Let’s create together.
      br
      div(class="row")
        div(class="col-md-12")
          h4() Our Services Include:
      br
      div(class="row")
        div(class="col-md-8")
          h5 1. Clothing Design and Print
          ul
            li T-shirs, Long Sleeve Shirts, Sweats, Training Gear, Jerseys, Hoodies, Jackets etc...
            li Shirst Available in Various Styles and Colors
            li Choose between Sublimation and Heat Transfer Vinyl
            li T-shirt sizes start at youth 2t and usually end at 2XL (Larger sizes available at additional cost) 
        div(class="col-md-4")
          img(class="img-fluid" src="https://www.rushordertees.com/design/ZoomImage.php?src=3082864_f&style=g200&colorCode=00&x=240&y=300&width=880&height=880&scale=1.7&watermark=false")
      div(class="row")
        div(class="col-md-8")
          h5 2. Event Design and Print
          ul
            li Custom made Cups/Mugs, Center Pieces, Banners, Photo Booths etc...
            li Printed cups are a great way to promote your business, organization, or event
            li You can upload your own artwork or create custom designs
            li Creating custom designs for your event couldn't be easier.
        div(class="col-md-4")
          img(class="img-fluid" src="/images/front/cat_mug.jpeg")
      div(class="row")
        div(class="col-md-8")
          h5 3. Stationary Design and Print
          ul
            li Branding throughout the company via paper, office supplies, letterheads, writing equipment, business cards, cases, and other similar items
            li  Logo and brand identity packs
        div(class="col-md-4")
          img(class="img-fluid" src="http://design-oman.com/wp-content/uploads/2018/04/stationary-muscat-Oman.jpg")
      br