label(id="myMidText") Mid Text
input(id="designFrontMidText" type="text" name="designFrontMidText" class="form-control")
br
button(class="btn btn-primary" id="designFrontMidTextBtn") Add Middle text
br
div(id="frontMidTextStyleOptions")
    br
    h6
        i(id="frontMidArrow" class="fa fa-arrow-right" aria-hidden="true") 
        span Mid Text Style
div(id="textContainer")  
    div(id="frontMidTextStyle")
        label(id="myMidTextColor") Text Color
        br
        input(type="color" id="frontMidTextColor" name="frontMidTextColor")
        br
        label(id="myMidTextScale") Resize Text
        input(type="range" id="frontMidTextScale" min="10" max="150" value="10" name="frontMidTextScale" class="form-control")
        label(id="myMidTextHorizontal") Horizontal Align
        input(type="range" id="frontMidTextHorizontal" min="150" max="450" value="10" name="frontMidTextHorizontal" class="form-control")
        label(id="myMidTextVertical") Vertical Align
        input(type="range" id="frontMidTextVertical" min="150" max="380" value="150" name="frontMidTextVertical" class="form-control")
    hr